#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


build: build-stamp
build-stamp:
	dh_testdir

	rake
	docbook-to-man debian/antargis.sgml > antargis.1
	docbook-to-man debian/antargis-editor.sgml > antargis-editor.1

	# remove double font-files
	rm data/fonts/*.ttf

	# generate new starter-scripts with correct paths
	echo -ne "#!/bin/sh\ncd /usr/share/antargis\nruby run.rb">antargis
	echo -ne "#!/bin/sh\ncd /usr/share/antargis\nruby editor.rb">antargis-editor
	chmod 755 antargis antargis-editor

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp antargis.1 antargis-editor.1

	rake clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installmenu
	dh_installman antargis.1 antargis-editor.1
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
