body
{
	font-family:Times New Roman;
	color:#000000;
	background-color:#000000;
	margin:0px;
}

img
{
	border-style:none;
	color:inherit;
	font-style:italic;
	margin:0px;
	padding:0px;
}

/* anchors */

a
{
	/*text-decoration:none;*/
	border-style:none;
	color:#3333AA;
	font-style:italic;
	margin:0px;
	padding:0px;
}
h1
{
	font-size:140%;
	margin:2px;
	margin-right:2px;
	width:99,8%;
	padding:2px;
	color:#000000;
	border-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-color:#773300; /*bd6c04;*/
	border-left-width:1px;
	border-right-width:1px;
	background-color:#a76a23;
	background-image:url(../pics/wood64.jpg);
}
h3
{
	font-size:110%;
	margin-left:10px;
	margin-top:3px;
	margin-bottom:3px;
}
p
{
	margin-left:20px;
	margin-right:20px;
	margin-top:3px;
	margin-bottom:3px;
}

a:hover
{
	/*font-weight:bold;*/
	color:#0000AA; /*bd6c04;*/
}

/* menues */
.menu
{
	position:relative;
	/*padding-left:30%;
	padding-right:30%;*/
	border-right-width:0px;
	border-left-width:0px;
	border-right-style:none;
	border-left-width:none;
	border-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	background-color:#a76a23; /*333333;*/
	border-color:#eca345; /*3b2306;*/
	color:#000000; /*FFFFFF;*/
	/*font-family:Helvetica;*/
	text-align:center;
	background-image:url(../pics/wood64.jpg);
}

.menu a
{
	text-decoration:none;
	color:inherit;
}
.menu a:hover
{
	color:#660000;
}

/* menues */
.notice
{
	float:top;
	clear:both;
	background-image:url(../pics/wood64.jpg);
	position:relative;
	border-right-width:0px;
	border-left-width:0px;
	border-right-style:none;
	border-left-width:none;
	border-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	background-color:#a76a23; /*333333;*/
	border-color:#eca345; /*3b2306;*/
	color:#000000;
	font-family:Helvetica;
	text-align:right;
	margin-top:20px;
}


/* title */
.title
{
	border-width:0px;
	background-color:#000000;
	height:191px;
	width:100%;
	color:#FFF200;
	text-align:center;
	margin:2px;
}
.bottom
{
	border-style:outset;
	border-width:0px;
	background-color:#b36912;
	background-image:url(../pics/unten3.jpg);
	height:60px;
	border-color:#b36912;
	color:#FFF200;
	text-align:right;
	margin:2px;
}

/* form */
.full_width
{
	width:100%;
}

.body
{
	border-color:#bd6c04;
/*	border-color:#888888;*/
	border-style:solid;
	border-width:2px;
	left:2%;
	width:96%;
	margin-top:2%;
/*	padding:1%;*/
	position:relative;
	background-color:#DDDDDD;
	max-width:50em;
	margin:10px auto;
	clear:both;
}
.screenshotBody
{
	border-color:#bd6c04;
/*	border-color:#888888;*/
	border-style:solid;
	border-width:2px;
	left:2%;
	width:96%;
	margin-top:2%;
/*	padding:1%;*/
	position:relative;
	background-color:#DDDDDD;

}

table.body
{
	border-color:#000000;
	border-style:solid;
	border-width:20px;
	background-color:#000000;
}

.menu_title
{
	color:#FFFFFF;
}

.host
{
	color:#FFFFFF;
	vertical-align:center;
	
}

p.link
{
	margin-left:100px;
	font-weight:bold;
}

p.screenshot, div.screenshot
{
	width:1050px;
	margin:0 auto;
	text-align:center;
	background-color:#AAAAAA;
	border-color:#bd6c04;
	border-style:groove;
	border-width:2px;
	padding:10px;
	font-size:120%;
	/*margin-left:20px;
	margin-right:20px;*/
}
image.screenshot
{
	border-style:groove;
	border-width:2px;
	border-color:#bd6c04;
	margin:0px;
	padding:0px;
}

div.thumbs
{
	margin-left:20px;
	margin-right:20px;
	background-color:#AAAAAA;
	padding:3px;
}

.menu_bold
{
	font-weight:bold;
}

.code
{
	font-family:Arial;
	margin-left:50px;
	border-left:solid;
	border-left-width:2px;
	border-left-color:#bd5c04;
	padding-left:8px;
	background-color:#FFEEEE;
	display:block;
	clear:both;
	margin-right:50px;
	
}

.screenshotPreview
{
	width:130px;
	text-align:center;
	float:right;
	border-width:1px;
	border-style:solid;
	border-color:#888888;
	padding:2px;
	margin-left:10px;
	margin-right:5px;
}
/*
.news
{
	width:32em;
	float:right;
	clear:right;
	margin-top:20px;
	margin-left:20px;
}*/

.infos
{
	margin-top:40px;
}

hr
{
	border-top:1px solid gray;
	border-bottom:0px solid blue;
	margin-right:5px;
	margin-top:2px;
}
.newstitle
{
	font-size:120%;
}
.news
{
	width:32em;
	float:right;
	/*display:inline;*/
	font-size:100%;
	margin-left:10px;
	margin-top:3px;
	margin-bottom:3px;
}
.newsdate
{
	display:inline;
	font-size:70%;
	margin-left:10px;
}

ul
{
	list-style-image:url(../pics/minimap_hero.gif);
}